@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.skeleton {
  background-color: #f0f0f0;
  border-radius: 4px;
  animation: pulse 1s infinite ease-in-out;
  margin: 0.5rem;
}

.skeleton-text {
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.skeleton-image {
  height: 200px;
  width: 25%;
  border-radius: 8px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .skeleton-image:not(.skeleton-stacked) {
    height: 450px;
    width: 75%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(14px);
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }

  50% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #f0f0f0;
  }
}